.perioreporte{
	width: 100%;
}

.perioreporte .display{
	position: absolute;
    top: 50px;
    box-shadow: 2px -6px 20px 0px rgba(0, 0, 0, 0.45);

}

.perioreporte .no-display{
    display: none;
}


.perioreporte .btn-lg{
	border-radius: 0px;
}